API_KEY=YOUR_GAME_SDK_API_KEY
botToken="YOUR_TELEGRAM_BOT_TOKEN"


TWITTER_API_KEY=YOUR_TWITTER_API_KEY
TWITTER_API_SECRET_KEY=YOUR_TWITTER_API_SECRET_KEY
TWITTER_ACCESS_TOKEN=YOUR_TWITTER_ACCESS_TOKEN
TWITTER_ACCESS_TOKEN_SECRET=YOUR_TWITTER_ACCESS_TOKEN_SECRET

UPSTASH_REDIS_REST_URL=UPSTASH_REDIS_REST_URL
UPSTASH_REDIS_REST_TOKEN=UPSTASH_REDIS_REST_TOKEN
CMC_API_KEY=CMC_API_KEY

IS_PRODUCTION=IS_PRODUCTION